@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;800&display=swap');


$primary-color : #00d1b2;
$info-color : #209cee;
$danger-color : #ff3860;
$warning-color : #ffdd57;
$success-color : #23d160;

$verticle-tab-icon-bg-color : #f3ca28;
$section-padding : 100px;
$title-color : #094267;
$text-color : #949494;
$distinct-color : #ff9800;
$price-background:#e5f4f4;
$main-font : 'Rubik',
sans-serif;