@import 'variables';

body,
html {
     font-family: $main-font !important;
     width: 100%;
     height: 100%;
     background-image: url('../images/bg.png');
     background-repeat: no-repeat;
     background-size: auto;
}

.section-spacer {
     padding-top: $section-padding;
     padding-bottom: $section-padding;
}

%section-title {
     text-align: center;
     margin-bottom: 50px;

     h3 {
          font-size: 50px;
          font-weight: 300;
          margin-bottom: 20px;
          color: $title-color;
     }

     p {
          color: $text-color;
          font-weight: 300;
          font-size: 15px;
          margin-bottom: 5px
     }
}

@import 'overwrite';
@import 'navbar';
@import 'hero';
@import 'property';
@import 'verticleTab';
@import 'fact';
@import 'price';